.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    height: 600px;
    width: 800px;
    font-family: 'Helvetica';
    grid-template-areas: "t t t t"
                         "p w w w" /*Population, Welcome*/
                         "g c m n"; /*GDP, Calling, Gov, News*/
}

h2 {
    font-weight: bold;
}

.title {
    grid-area: t;
    text-align: center;
    font-weight: bold;
}

.population {
    display: flex;
    flex-direction: column;
    grid-area: p;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: url("./images/finland-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin-top: -22px;
    padding-left: 15px;
    line-height: 0%;
}

.population h2 {
    margin-top: -42px;
    padding-left: 1px;
    line-height: 1px;
}

.welcome {
    display: flex;
    flex-direction: column;
    grid-area: w;
    justify-content: flex-end;
    background-image: url("./images/finland-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 3;
    color: #fff;
    align-items: flex-end;
    padding-right: 22px;
    line-height: 40px;
    margin-top: -22px;
}

.welcome h2 {
    padding-right: 2px;
    margin-top: -22px;
    margin-bottom: -26px;
}

.gdp {
    display: flex;
    flex-direction: column;
    grid-area: g;
    color: #fff;
    justify-content: flex-end;
    background-image: url("./images/finland-3.jpg");
    background-size: cover;
    align-items: flex-end;
    background-repeat: no-repeat;
    margin-bottom: -8px;
    line-height: 15px;
    padding-right: 20px;
}

.gdp h2 {
    margin-bottom: -8px;
    line-height: 18px;
    padding-right: 1px;
}

.code {
    display: flex;
    flex-direction: column;
    color: #fff;
    grid-area: c;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("./images/finland-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-top: 2px;
    line-height: 15px;
    margin-bottom: -8px;
}

.code h2 {
    padding-left: 2px;
    padding-top: 2px;
    line-height: 18px;
    margin-bottom: -8px;
}

.govt {
    display: flex;
    flex-direction: column;
    grid-area: m;
    color: #fff;
    justify-content: flex-end;
    background-image: url("./images/finland-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    align-items: flex-start;
    margin-bottom: -8px;
    padding-left: 14px;
}

.govt h2 {
    margin-bottom: -8px;
    padding-left: 1px;
    line-height: 10px;
}

.news {
    display: flex;
    flex-direction: column;
    color: #fff;
    grid-area: n;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-image: url("./images/finland-5.jpg");
    background-size: cover;
    align-items: flex-start;
    margin-bottom: -8px;
    padding-left: 8px;
    padding-bottom: 12px;
}

.news input {
    margin-bottom: 15px;
    margin-right: -20px;
    margin-left: -1px;
}

.news > button {
    align-self: flex-end;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 5px;
}